
/*обнуляет отсуп и поля, меняет подсчет ширины блока*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*убирает обводку */

:focus, 
:active {
    outline: none;
}
a:focus, a:active{outline: none;}

nav, footer, header, aside {
    display: block;
}

/*уравнивает поведение шрифтов и элементов для разных браузеров*/
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/*наследуют семейство шрифта от родителя, чего нет по умолчанию у них*/
input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}

/*-----------------------------------------------------------------*/
body {
    font-family: 'Times New Roman', Times, serif;    
    font-size: 24px;    
    font-weight: 400;
    color: #273d46;
    background: #e8e8e8 url('../img/bg.png') 52% 150px no-repeat;
    
    /* font-family: Arial, Helvetica, sans-serif; */    
    
}

.wrapper {
    max-width: 841px;
    margin: 0 auto;
    padding: 168px 0 137px 0;    
}


.main-header__category,
.main__link {
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    text-align: center;
    margin: 0 0 70px 0;
    line-height: 50px;
}

.main-header__category {       
    font-size: 14px;    
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #748187;  
    margin-bottom: 15px;
}

.main-header__title {    
    width: 726px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 65px;
    margin: 0 auto;
    /* background: url('../img/light_man_copy_26.jpg') no-repeat;
    padding-bottom: 100px; */
}

.main {
    /* background: url('../img/light_man_copy_26.jpg') 47% no-repeat; */    
}

.main__pic {    
    padding: 10px;
    background: #ffffff no-repeat;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);   
    margin:  0 0 85px 0; 
} 

/*на случай, если изменится картинка или ее размер станет больше, чтобы не выходила за пределы родителя */
.main__pic img {
    min-width: 100%;   
}

.wrapper--add {
    position: relative;
    background: url('/img/ellipse_1_copy_4.png') 0 0/contain no-repeat;
}
/*  .main-pic {    
    background: url('../img/light_man_copy_26.jpg') 50% no-repeat;
    width: 841px;
    height: 561px;
    box-shadow: 0px 15px 65px 0px rgba(15,16,16,0.15);    
    margin: 0 auto;
}  */

.main-text {
    margin: 0 0 47px 0;
    line-height: 40px;
    color: #53646b;
    line-height: 40px;
    padding: 0 45px;
}

.main__text--1 {
    margin: 0 0 40px 0;
}

.main-text p:last-child {
    margin: 0;
}

.main__list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 36px;    
    margin-bottom: 59px;
    padding: 0 45px;
}

.list-item {
    padding-left: 36px;
    background: url('../img/check_icon_37.png')  0 7px no-repeat;
    margin: 0 0 10px 0;
}

.list-item--1 {
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);  
}

.list-item--2 {
    font-style: italic;
    color: #80b7b3;   
}

.list-item--3 {
    font-weight: 700;    
}

.list-item--4 span {
    text-decoration: line-through;
    opacity: 0.3;
}

.main__list li:last-child {
    margin: 0;
}

.main__link {
    height: 44px;
    line-height: 44px;
    display: inline-block; 
    padding: 0 30px;     
    border-radius: 20px;    
    font-size: 14px;   
    text-transform: uppercase;
    letter-spacing: 2.8px;
    color: #ffffff;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);   
    background-color: #80b7b3;
    margin-left: 45px;
}

.main__link span {
    background: url('../img/icons/shape2.svg') right no-repeat;
    padding-right: 30px;
}

.main__link:hover {
    background-color: #4c1f21;
}

.main__link:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);  
}

.list {
    margin-bottom: 50px;
}

.list li {
    font-size: 24px;
    margin-bottom: 15px;
    background: url('../img/light_man_copy_26.jpg') left 2px no-repeat;
    padding-left: 30px;
}

.block {       
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    background: url('../img/100.jpg') 0 0 no-repeat, 
    url('../img/bed-1853907_1920.jpg') 50%/cover no-repeat; 
    
}

